# general things to ignore
dist/
build/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~

# for pytest
.cache

# Docs
docs/site

# Python Custom
*.db
.venv
.pytest_cache

# vscode
.vscode/

# test
/tests/.report.json
.ipynb_checkpoints/
*-checkpoint.ipynb
.pdm-python
pdm.lock
.pdm.toml
.pdm.toml
